<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>request</string>
	<string>uploadFile</string>
	<string>downloadFile</string>
	<string>connectSocket</string>
	<string>onSocketOpen</string>
	<string>onSocketError</string>
	<string>sendSocketMessage</string>
	<string>onSocketMessage</string>
	<string>closeSocket</string>
	<string>onSocketClose</string>
	<string>chooseImage</string>
	<string>previewImage</string>
	<string>getImageInfo</string>
	<string>startRecord</string>
	<string>stopRecord</string>
	<string>playVoice</string>
	<string>pauseVoice</string>
	<string>stopVoice</string>
	<string>getBackgroundAudioPlayerState</string>
	<string>playBackgroundAudio</string>
	<string>pauseBackgroundAudio</string>
	<string>seekBackgroundAudio</string>
	<string>stopBackgroundAudio</string>
	<string>onBackgroundAudioPlay</string>
	<string>onBackgroundAudioPause</string>
	<string>onBackgroundAudioStop</string>
	<string>createAudioContext</string>
	<string>chooseVideo</string>
	<string>createVideoContext</string>
	<string>saveFile</string>
	<string>getSavedFileList</string>
	<string>getSavedFileInfo</string>
	<string>removeSavedFile</string>
	<string>openDocument</string>
	<string>setStorage</string>
	<string>setStorageSync</string>
	<string>getStorage</string>
	<string>getStorageSync</string>
	<string>getStorageInfo</string>
	<string>getStorageInfoSync</string>
	<string>removeStorage</string>
	<string>removeStorageSync</string>
	<string>clearStorage</string>
	<string>clearStorageSync</string>
	<string>getLocation</string>
	<string>chooseLocation</string>
	<string>openLocation</string>
	<string>createMapContext</string>
	<string>getSystemInfo</string>
	<string>getSystemInfoSync</string>
	<string>getNetworkType</string>
	<string>onAccelerometerChange</string>
	<string>onCompassChange</string>
	<string>makePhoneCall</string>
	<string>scanCode</string>
	<string>showToast</string>
	<string>hideToast</string>
	<string>showModal</string>
	<string>showActionSheet</string>
	<string>setNavigationBarTitle</string>
	<string>showNavigationBarLoading</string>
	<string>hideNavigationBarLoading</string>
	<string>navigateTo</string>
	<string>redirectTo</string>
	<string>switchTab</string>
	<string>navigateBack</string>
	<string>createAnimation</string>
	<string>intro</string>
	<string>coordinates</string>
	<string>gradient</string>
	<string>reference</string>
	<string>createCanvasContext</string>
	<string>createContext</string>
	<string>drawCanvas</string>
	<string>canvasToTempFilePath</string>
	<string>setFillStyle</string>
	<string>setStrokeStyle</string>
	<string>setShadow</string>
	<string>createLinearGradient</string>
	<string>createCircularGradient</string>
	<string>addColorStop</string>
	<string>setLineWidth</string>
	<string>setLineCap</string>
	<string>setLineJoin</string>
	<string>setMiterLimit</string>
	<string>rect</string>
	<string>fillRect</string>
	<string>strokeRect</string>
	<string>clearRect</string>
	<string>fill</string>
	<string>stroke</string>
	<string>beginPath</string>
	<string>closePath</string>
	<string>moveTo</string>
	<string>lineTo</string>
	<string>arc</string>
	<string>bezierCurveTo</string>
	<string>quadraticCurveTo</string>
	<string>scale</string>
	<string>rotate</string>
	<string>translate</string>
	<string>setFontSize</string>
	<string>fillText</string>
	<string>drawImage</string>
	<string>setGlobalAlpha</string>
	<string>save</string>
	<string>restore</string>
	<string>draw</string>
	<string>getActions </string>
	<string>clearActions </string>
	<string>onPullDownRefresh</string>
	<string>stopPullDownRefresh</string>
	<string>login</string>
	<string>checkSession</string>
	<string>getUserInfo</string>
	<string>requestPayment</string>
	<string>onShareAppMessage</string>
</array>
</plist>
